/* div,
img {
  border: 1px solid black;
} */

.row > div {
  padding: 2% 5%;
}

img {
  max-width: 100%;
}

p {
  margin: 2% 0;
}

.tiempos-headline {
  font-family: 'Tiempos Headline', sans-serif;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

a {
  text-decoration: none;
  font-size: 25px;
  border-radius: 0.2em;
}

.nav-item {
  padding: 2%;
  color: grey;
  text-align: center;
}

.navbar {
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.blue-button {
  background: rgba(20, 68, 100, 1);
  color: white;
}

.current {
  color: rgba(20, 120, 150, 1);
}

.container {
  width: 100%;
}

.row {
  width: 100%;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.blue-logo {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-right: 45%;
  padding-bottom: 15%;
  padding-top: 15%;
  padding-left: 5%;
  color: white;
  position: relative;
}

.product-header {
  background: url('images/product/product-header.jpg');
  background-size: cover;
}

.implementation-header {
  background: url('images/implementation/implementation-header.jpg');
  background-size: cover;
}

.about-us-header {
  background: url('images/about-us/about-us-header.jpg');
  background-size: cover;
}

.header-heading {
  font-size: 60px;
}

.header-body {
  font-size: 26px;
  line-height: 35px;
  margin-top: 5%;
}

.header-body,
.header-heading {
  position: relative;
  z-index: 1;
}

.overlay {
  background: rgba(100, 100, 100, 0.3);
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product {
  display: flex;
  background-color: rgba(211, 211, 211, 0.1);
  margin-top: 10%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-size: 25px;
}

.col-half:nth-of-type(2n) > .product-info {
  padding-left: 20%;
}

.col-half:nth-of-type(2n + 1) > .product-info {
  padding-right: 20%;
}

/* .row:nth-last-of-type(4) .product {
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
} */

.headline {
  font-size: 50px;
  color: dimgray;
}

.product-image > img {
  width: 100%;
}

.product-learn {
  color: rgba(20, 68, 100, 1);
}

.ready {
  display: flex;
  border-top: 2px solid rgba(128, 128, 128, 0.1);
}

.ready-schedule {
  display: flex;
  flex-direction: column;
  color: grey;
  font-size: 25px;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.get-started-button {
  padding: 2% 5%;
  font-size: 30px;
}

.address > img {
  margin-bottom: 5%;
}

div.bottom-grey {
  display: flex;
  background-color: rgb(100, 100, 100);
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  font-size: 25px;
}

.bottom-nav {
  display: flex;
  font-size: 35px;
}

.bottom-nav-items {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.bottom-nav-items > * {
  margin: 5%;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(100, 100, 100);
  margin: 2% 5% 2% 0;
  font-weight: 600;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(100, 100, 100);
  margin-bottom: 10%;
}

.centered-content-headline {
  display: flex;
  justify-content: center;
  font-size: 55px;
}

.centered-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-left: 23%;
  margin-right: 23%;
}

span {
  font-size: 55px;
}

.centered-content-body > p {
  font-weight: normal;
  font-size: 25px;
  font-family: 'avenir', sans-serif;
  line-height: 40px;
}

p.roi-list-title {
  font-size: 35px;
  margin-top: 10%;
}

.centered-content-body > a {
  color: rgba(20, 120, 150, 1);
  font-weight: 600;
}

.team {
  color: rgb(100, 100, 100);
  background-color: rgba(211, 211, 211, 0.1);
}

.team-headline {
  display: flex;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 3%;
}

.members {
  display: flex;
  flex-basis: calc(100% / 3);
  flex-flow: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 3%;
}

.pfp {
  padding: 0 20%;
  width: 100%;
  margin-bottom: 5%;
}

.pfp > img {
  border-radius: 50%;
  width: 100%;
}

.member-headline {
  font-size: 45px;
}

.member-occupation {
  font-size: 27px;
}
